@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $color-primary;
}

.text-accent {
  color: $color-accent;
}

.vertical-center {
  align-items: center;
  display: flex;
}
