@import './_base.scss';

/* colors */

@import './_vars.scss';

.panel {
  border: 2px solid $primary-color;
  border-radius: 5px;
}

.panel > .panel-heading {
  background-color: $primary-color;
  color: white;
  margin: 0;
  padding: 5px;
}

.text-primary {
  color: $primary-color;
}

.footer {
  background-color: $footer-color;
  color: white;
  padding: 30px 0;
}

.focus {
  background-color: $accent-color;
  padding: 4px;
  border-radius: 3px;
}

.navbar {
  background-color: $primary-color;
  color: white;
  padding: 0 30px;
  a:hover, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
  }
  li {
    margin: 10px;
  }
  .nav-right {
    position: absolute;
    right: 2px;
  }
}

/* layout */

.panel > .panel-body {
  padding: 1em;
}

.visible-lg {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .content, .content > div {
    display: flex;
    flex-direction: row;
  }
  .visible-lg {
    visibility: visible;
  }
  
  .main {
    width: 75%;
  }

  .sidebar {
    width: 25%;
  }
}

.container {
  max-width: 992px;
  margin: auto;
  padding: 0 30px;
}

body {
  margin: 0;
}

.navbar, .navbar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar > .logo {
  display: flex;
  align-items: center;
}

.footer {
  margin-top: 1em;
}
