@import 'base';
@import 'vars';

.panel {
  border: 2px solid $primary-color;
  border-radius: 5px;
  .panel-heading {
    background-color: $primary-color;
    color: white;
    margin: 0;
    padding: 5px;
  }
  .panel-body {
    padding: 1em;
  }
}

.text-primary {
  color: $primary-color;
}

.footer {
  background-color: $footer-color;
}

.focus {
  background-color: $accent-color;
  padding: 4px;
  border-radius: 3px;
}

.navbar {
  background-color: $primary-color;
}

.bar {
  color: white;
  padding: 0 30px;
  a:hover, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
  }
  .list-item {
    margin: 10px;
  }
  .bar-right {
    position: absolute;
    right: 2px;
    margin: 10px;
  }
}

.visible-lg {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .content > div {
    display: flex;
    flex-direction: row;
  }

  .visible-lg {
    visibility: visible;
  }

  .main {
    width: 75%;
  }

  .sidebar {
    width: 25%;
  }
}

.container {
  max-width: 992px;
  margin: auto;
  padding: 0 30px;
}

.bar {
  display: flex;
  flex-direction: row;
  & > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  & > .logo {
    display: flex;
    align-items: center;
  }
}

.footer {
  margin-top: 1em;
  .bar-right {
    margin: 30px;
  }
}
